<div class="dashboard-hero">
  <h1 class="mb-5">Account Dashboard</h1>
  <di class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Your Account</h5>
          <p class="card-text">
            <a href="/account/profile" class="btn btn-primary">Edit Profile</a>
            <a href="/account/password" class="btn btn-primary">Change Password</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Your Subscriptions</h5>
          <p class="card-text">
            <a href="/account/subscriptions" class="btn btn-primary">Manage Subscriptions</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

{{!--  subscription ship date--}}
<div class="dashboard-hero">
  <h1 class="mb-5">Subscription</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Subscription name here</h5>
          <p class="card-text">
            <a href="/account/subscriptions" class="btn btn-primary">Manage Subscriptions</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
