  
  
<div class="dashboard-hero">
    <h1 class="mb-5">Edit Account Information</h1>
    <div class="row">
    <div class="edit-profile-form">
        <form class="row g-3">

            <div class="col-md-6 pt-3">
                    <label for="first_name" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="edit-first-name" placeholder="{{users.first_name}}" >
                </div>

                <div class="col-md-6 pt-3">
                    <label for="last_name" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="edit-last-name" placeholder="{{users.last_name}}" >
                </div>

             <div class="col-md-6 pt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="edit-email" placeholder="{{users.email}}" >
                </div>

        </form>

    </div>
    </div>
    </div>

  
  
  <script src="/js/edit-profile.js"></script>