{{!-- hero with image 1 from images folder --}}
<section>
    <div class="hero">
        <div class="row">
            <h4 class="text-center pt-4">Your one stop shop down memory lane for your favorite candies.<br>
            Get Nostalgia with sweet candy today.</h4>
        <p class="text-center">A totally customized box of themed candies - every month</p>
        <a class="btn btn-warning " href="#" role="button">Get Nostalgia Today</a>

        <img src="/images/trending_1.jpg" alt="Hero Image 1" class="hero-image">
    
        </div>
    </div>
</section>