{{!-- hero with image 1 from images folder --}}
<section>
    <div class="hero">
        <div class="container d-flex justify-content-center text-center">
            <div class="row">
                <div class="col-12 text-center pt-4">
                    <h4>Your one stop shop down memory lane for your favorite candies.<br>
                        Get Nostalgia with sweet candy today.</h4>
                </div>
                <div class="col-12 text-center">
                    <p class="text-center">A totally customized box of themed candies - every month</p>
                </div>
                <div clas="col-12 pb-3">
                    <a class="btn btn-warning " href="/signup" role="button">Get Nostalgia Today</a>
                </div>
                <div class="col-12">
                    <div class="text-center pt-3">
                        <img src="/images/trending_1.jpg" alt="Hero Image 1" class="hero-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container text-bg-primary">
        <div class="row">
            <div class="col-12 text-center pb-5">
                <h3>How Nostalgia Works</h3>
            </div>
            <div class="col-4">
                <img src="/images/trending_2.jpg" alt="How Nostalgia Works" class="content-image">
                <h4>Subscribe for monthly sweets.</h4>
                <p>Subscribe and get a great deal. Every box comes with candies from your decade choice.
                    This is more than $20 worth of sweets.
                </p>
            </div>
            <div class="col-4">
                <img src="/images/trending_2.jpg" alt="How Nostalgia Works" class="content-image">
                <h4>Your first box ships immediately.</h4>
                <p>
                    Mark your calendar and get your first box of candies. Your sweet tooth will be satified within 5
                    days or less.
                </p>
            </div>
            <div class="col-4">
                <img src="/images/trending_2.jpg" alt="How Nostalgia Works" class="content-image">
                <h4>Your month-long nostalgia coma begins</h4>
                <p>You'll never have a nolstagia craving for candies again.
                </p>
            </div>
        </div>
    </div>

    <div class="theme-container text-bg-warning">
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-12">
                    <div class="text-center p-4">
                        <img src="/images/trending_3.jpg" alt="How Nostalgia Works" class="theme-image">
                    </div>
                </div>
                <div class="col-12 text-center">
                    <h3>Themed candies Every Month</h3>
                </div>
                <div class="col-12 text-center">
                    <p>
                        Every NostalgiaBox comes with 10 themed candies.
                    </p>
                    <div class="col-12 text-center pb-4">
                        <a class="btn btn-danger " href="/themes" role="button">View Themes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>