<div class="dashboard-hero">
    <h1 class="mb-5">Edit Account Information</h1>
      
            <form class="edit-password-form">
                <div class="row">
                <div class="col-md-6">
                    <label for="edit-password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="edit-password" required>
                    <div id="passwordHelpBlock" class="form-text ">
                        Your password must be 8-20 characters long, contain letters, numbers, special characters and
                        must not
                        contain spaces or emoji's.
                    </div>
                    <div class="valid-feedback">
                        Password looks good!
                    </div>
                    <div class="invalid-feedback">
                        Password is required!
                    </div>
                </div>
         
                <div class="col-md-6">
                    <label for="edit-confirm-password" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="edit-confirm-password" required>
                    <div class="valid-feedback">
                        Password looks good!
                    </div>
                    <div class="invalid-feedback">
                        Password is required!
                    </div>
                </div>

                    <div class="col-md-12 ">
                        <button type="submit" class="btn btn-primary float-end m-4" id="btn-test">Save Changes</button>
                    </div>

                </div>
            </form>
        </div>

    <script src="/js/password.js"></script>
    <script src="/js/validation.js"></script>