<div class="card">

<h2 class="card-header">SIGN UP</h2>

<form class="card-body signup-form">

<div class="form-group">
    <label for="form-label">First Name:</label>
    <input type="text" class="form-input" id="first-input-signup">
</div>

<div class="form-group">
    <label for="form-label">Last Name:</label>
    <input type="text" class="form-input" id="last-input-signup">
</div>

<div class="form-group">
    <label for="form-label">Email:</label>
    <input type="text" class="form-input" id="email-input-signup">
</div>

<div class="form-group">
    <label for="form-label">Password:</label>
    <input type="password" class="form-input" id="password-input-signup">
</div>

<div class="form-group">
    <label for="form-label">Address:</label>
    <input type="text" class="form-input" id="address-input-signup">
</div>

<div class="form-group">
    <label for="form-label">City:</label>
    <input type="text" class="form-input" id="city-input-signup">
</div>

<div class="form-group">
    <label for="form-label">State:</label>
    <input type="text" class="form-input" id="state-input-signup">
</div>

<div class="form-group">
    <label for="form-label">Zip Code:</label>
    <input type="text" class="form-input" id="zip-input-signup">
</div>

<div class="form-group">
    <button class="btn btn-primary" type="submit">SIGN UP!</button>
    <button class="btn btn-danger" type="submit"><a href="/login">LOGIN</a>L</button>
</div>

</form>

</div>
<script src="/js/signup.js"></script>