<div class="signup-hero">
    <div class="container">
        <div class="row">
            <div class="signup-hero pb-3">
                <h1>Craving something sweet. Give your sweet tooth exactly what it needs</h1>
                <div class="signup-form">
                </div>
            </div>
        </div>



        {{!-- <div class="container">
            <div class="row">
                <div class="signup-hero pb-3">
                    <h1>Craving something sweet. Give your sweet tooth exactly what it needs</h1>
                    <div class="signup-form">
                        <div class="row">
                            <div class="col-md-6 mb-4 mt-3">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1m">First name</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1n">Last name</label>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="email-input-login" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email-input-login" required>
                                <div class="valid-feedback">
                                    Email looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Email is required!
                                </div>
                            </div>


                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example8" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example8">Address</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <select class="select">
                                        <option value="1">State</option>
                                        <option value="2">Florida</option>
                                        <option value="3">New York</option>
                                        <option value="4">Georgia</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <select class="select">
                                        <option value="1">City</option>
                                        <option value="2">Bronx</option>
                                        <option value="3">Orlando</option>
                                        <option value="4">Los Angeles</option>
                                    </select>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end pt-3">
                                <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}













            {{!-- <div class="card">

                <h2 class="card-header">SIGN UP</h2>

                <form class="card-body signup-form">

                    <div class="form-group">
                        <label for="form-label">First Name:</label>
                        <input type="text" class="form-input" id="first-input-signup">
                    </div>

                    <div class="form-group">
                        <label for="form-label">Last Name:</label>
                        <input type="text" class="form-input" id="last-input-signup">
                    </div>

                    <div class="form-group">
                        <label for="form-label">Email:</label>
                        <input type="text" class="form-input" id="email-input-signup">
                    </div>

                    <div class="form-group">
                        <label for="form-label">Password:</label>
                        <input type="password" class="form-input" id="password-input-signup">
                    </div>

                    <div class="form-group">
                        <label for="form-label">Address:</label>
                        <input type="text" class="form-input" id="address-input-signup">
                    </div>

                    <div class="form-group">
                        <label for="form-label">City:</label>
                        <input type="text" class="form-input" id="city-input-signup">
                    </div>

                    <div class="form-group">
                        <label for="form-label">State:</label>
                        <input type="text" class="form-input" id="state-input-signup">
                    </div>

                    <div class="form-group">
                        <label for="form-label">Zip Code:</label>
                        <input type="text" class="form-input" id="zip-input-signup">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">SIGN UP!</button>
                        <button class="btn btn-danger" type="submit"><a href="/login">LOGIN</a>L</button>
                    </div>

                </form> --}}

            </div>
            <script src="/js/signup.js"></script>
            <script src="/js/signup-validate.js"></script>