{{!-- container to hold subscription option --}}


<div>
    <h1 class="text-white">{{users.first_name}}</h1></div>

<div class="subscription-hero">
    <form class="subscription-form">
        <div class="container">
            <div class="row">




<div class="form-check">
  <input class="form-check-input candybox_id" type="radio" name="candybox" value="1"  {{#if (active_sub users.candyboxes.0.id 1) }}checked{{/if}}>
  <label class="form-check-label" for="flexRadioDefault1">
    70s
  </label>
</div>

<div class="form-check">
  <input class="form-check-input candybox_id" type="radio" name="candybox"  value="2" {{#if (active_sub users.candyboxes.0.id 2) }}checked {{/if}}>
  <label class="form-check-label" for="flexRadioDefault2">
    80s
  </label>
</div>

<div class="form-check">
  <input class="form-check-input candybox_id" type="radio" name="candybox"  value="3"   {{#if (active_sub users.candyboxes.0.id 3) }}checked {{/if}}>
  <label class="form-check-label" for="flexRadioDefault3">
    90s
  </label>
</div>



{{!-- 

                <div class="col-md-4 pt-2 pb-2">
                    <button type="button" class="btn btn-outline-info btn-lg btn-block text-dark">
                        <input type="hidden" id="candybox_id" value="1" />
                        <div class="subscription-card">
                            <div class="subscription-card-header">
                                <h3>70s Candy Box</h3>
                            </div>
                            <div class="subscription-card-body">
                                <img src="/images/trending_1.jpg" alt="70s Candy Box" class="subscription-card-image">
                            </div>
                            <div class="subscription-card-footer">
                                <p>$9.99 per month</p>
                    </button>
                </div>

                <div class="col-md-4 pt-2 pb-2">
                    <button type="button" class="btn btn-outline-warning btn-lg btn-block text-dark">
                        <input type="hidden" id="candybox_id" value="2" />
                        <div class="subscription-card">
                            <div class="subscription-card-header">
                                <h3>80s Candy Box</h3>
                            </div>
                            <div class="subscription-card-body">
                                <img src="/images/trending_1.jpg" alt="70s Candy Box" class="subscription-card-image">
                            </div>
                            <div class="subscription-card-footer">
                                <p>$9.99 per month</p>
                    </button>
                </div>

                <div class="col-md-4 pt-2 pb-2">
                    <button type="button" class="btn btn-outline-danger btn-lg btn-block text-dark">
                        <input type="hidden" id="candybox_id" value="3" />
                        <div class="subscription-card">
                            <div class="subscription-card-header">
                                <h3>90s Candy Box</h3>
                            </div>
                            <div class="subscription-card-body">
                                <img src="/images/trending_1.jpg" alt="70s Candy Box" class="subscription-card-image">
                            </div>
                            <div class="subscription-card-footer">
                                <p>$9.99 per month</p>
                    </button>
                </div> --}}

                <div class="col-12">
                    <button class="btn btn-info" type="submit">Save Changes</button>
                </div>


            </div>
        </div>
    </form>
</div>

<script src="/js/subscription.js"></script>