 <style>
   h1,h2{
     text-align: center;
     color:white;
   }
  img{
    width: 500px;
    height: 350px;
  }
  p{
    padding-top: 55px;
    text-align: center;
  }


</style>
 
 
 
 <div class="container" >
      <h1 style="margin-top:35px;">Take Me Back To The Good Days</h1> 
      <h2>OH SWEET NOSTALGIA!</h2>
 </div>

 <div class="img1" style="margin-top:150px; background-color:black;">
   <img src="https://post.healthline.com/wp-content/uploads/2020/09/4609-cat-732x549-thumbnail.jpg" class="rounded float-start" alt="...">
   <p style="color: white; padding-bottom:245px; ">Starting with the 90's Box! <br> This box is filled with the best candies from the 90's</p>

 </div>

 <div class="img2" style="margin-top:2px; background-color:black;" >
  <img src="https://post.healthline.com/wp-content/uploads/2020/09/4609-cat-732x549-thumbnail.jpg" class="rounded float-end" alt="...">.
  <p style="color: white;padding-bottom:240px;">Can't forget about the 80's Box </p>

 </div>

 <div class="img1" style="margin-top:2px; background-color:black;">
   <img src="https://post.healthline.com/wp-content/uploads/2020/09/4609-cat-732x549-thumbnail.jpg" class="rounded float-start" alt="...">
   <p style="color: white; padding-bottom:245px;">Helllo 70's Box its been a couple decades!</p>

 </div>
