

root {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1f206c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a   {
    text-decoration: none;
    color: salmon;
}


a:hover {
    text-decoration: none;
    color: rgb(237, 13, 13);
}

li {
    list-style: none;
}


.hero {
    background-color: salmon;
    margin-bottom: 25%;
}

.hero-image {
    width: 50%;
    height: 60%;
    border-radius: 8%;
}

.content-image {
    margin: 10px;
    width: 60%;
    height: 20%;
    border-radius: 8%;
}

.theme-image {
    width: 50%;
    height: 60%;
    border-radius: 8%;
}

.theme-container {
    margin-top: 25%;
    margin-bottom: 10%;
}


.fa {
    color: #78bbeb;
}

.fa:hover {
    color: rgb(237, 13, 13);
}

h6 {
    color: #78bbeb;
}

.footer-bottom {
    color: #78bbeb;
}

.login-hero {
    background-color: #e8e8f8;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 2%;
}


.signup-hero {
    background-color: yellow;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 2%;
}

.terms {
    color: blue;
}

#credit_card_logo {
    width: 30px;
    height: 30px;
}

/* .button-no-style {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #48565f;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 2px;
  }
  
  .button-no-style:hover {
    background: none;
    color: #3486eb;
  } */