root {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1f206c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a   {
    text-decoration: none;
    color: salmon;
}


a:hover {
    text-decoration: none;
    color: rgb(237, 13, 13);
}

li {
    list-style: none;
}


.hero {
    background-color: salmon;
    margin-bottom: 25%;
}

.hero-image {
    width: 50%;
    height: 60%;
    border-radius: 8%;
}

.content-image {
    margin: 10px;
    width: 60%;
    height: 20%;
    border-radius: 8%;
}

.theme-image {
    width: 50%;
    height: 60%;
    border-radius: 8%;
}

.theme-container {
    margin-top: 25%;
    margin-bottom: 10%;
}


.fa {
    color: #78bbeb;
}

.fa:hover {
    color: rgb(237, 13, 13);
}

h6 {
    color: #78bbeb;
}

.footer-bottom {
    color: #78bbeb;
}